<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <a href="https://dachshund-mailer.vercel.app/">
    <img src="https://dachshund-mailer-api.herokuapp.com/img/logo.png" />
  </a>

  <h1>{{.title}}</h1>
  <p>{{.description}}</p>
</body>

</html>

<style lang="css">
  @import url('http://fonts.cdnfonts.com/css/poppins');

  * {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  }

  img {
    width: 200px;
    height: 200px;
  }

  h1 {
    color: gray;
    font-size: 18px;
    font-weight: 100;
  }

  p {
    color: black;
    font-size: 11px;
    font-weight: 600;
    text-align: justify;
  }
</style>